/*  Variables */
$BackgroundColor: #c3cfe2;
/* Icons dimension*/
$IconDimension: 60px;

/* Colors */

/* Blog*/
$Blog: #e17b77;

/*Facebook*/
$Facebook: #3b5998;

/* Twitter */
$Twitter: #00aced;

/* Github*/
$Github: #333;

/*LinkedIn*/
$LinkedIn: #007bb6;